- job:
    name: checkbox.io
    project-type: pipeline
    dsl: |
      node {
          stage('Source') {
              git 'https://github.com/chrisparnin/checkbox.io'
          }
          stage('Build') {
              sh 'cd server-side/site/'
              sh 'npm install'
          }
      }
