<com.cloudbees.plugins.credentials.impl.UsernamePasswordCredentialsImpl >
  <scope>GLOBAL</scope>
  <id>mycredid</id> 
  <username>{{lookup('env', 'GH_USER')}}</username>
  <password>{{lookup('env', 'GH_PASS')}}</password>
  <description></description>
</com.cloudbees.plugins.credentials.impl.UsernamePasswordCredentialsImpl>